:host {
  display: block;
  position: relative;
  width: calc(var(--spacing-16));
  height: calc(var(--spacing-16));
}


.symbol {
  position: absolute;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;

  background-color: var(--color-background-brand-base);
  mask-image: var(--symbol);
  mask-repeat: no-repeat;
  mask-size: 90% 90%;
  mask-position: center;

  transform: translateX(-100%);
  opacity: 0;
}

.symbol.animate-in {
  animation:
    slide-in 1s cubic-bezier(0.83, 0, 0.17, 1) forwards,
    fade-in 1s ease-in-out forwards;
}

.symbol.animate-out {
  animation:
    slide-out 1s cubic-bezier(0.83, 0, 0.17, 1) forwards,
    fade-out 1s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes fade-in {

  0%,
  50% {
    opacity: 0;
  }


  80%,
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {

  0%,
  40% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}