:host {
  display: block;
  position: relative;
  width: calc(var(--spacing-16));
  height: calc(var(--spacing-16));
}

.track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  animation: slide 1s cubic-bezier(0.83, 0, 0.17, 1) infinite;
}

.symbol {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;

  background-color: var(--color-background-brand-base);
  mask-image: var(--symbol);
  mask-repeat: no-repeat;
  mask-size: 90% 90%;
  mask-position: center;
}

.symbol:nth-child(1) {
  animation: fade-in 1s ease-in-out infinite;
}

.symbol:nth-child(2) {
  animation: fade-out 1s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes fade-in {

  0%,
  50% {
    opacity: 0;
  }


  80%,
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {

  0%,
  40% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}