:host {
  display: block;
  border-radius: var(--spacing-2);
  border: 1px solid var(--color-gray-100);
  padding: var(--spacing-2);
  /* TODO: We don't have tokens for shadows yet */
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}
