@import '../../../design-tokens/dist/tokens.css';
@import './modern-normalize.css';

@import './button.css';
@import './typography.css';

:root {
  font-family: "Source Sans 3 Variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}