@import '../../../design-tokens/dist/tokens.css';
@import '../../node_modules/normalize.css/normalize.css';

:root {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
