.checkbox {
  width: var(--spacing-6);
  height: var(--spacing-6);
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  border-radius: 3px;
  background-color: var(--color-text-brand-inverse);
  border: 2px solid var(--color-gray-300);
}

.checkbox:hover {
  border: 2px solid var(--color-gray-400);
  box-shadow: inset 0px 0px 5px 5px var(--color-background-brand-subtle-hovered);
  cursor: pointer;
}

.checkbox:active {
  background-color: var(--color-background-brand-subtle-pressed);
}

.checkbox:checked:hover {
  background-color: var(--color-background-brand-hovered);
  box-shadow: none;
}

.checkbox:checked {
  background-color: var(--color-background-brand-base);
  border-color: var(--color-background-brand-base);
}
.checkbox:checked::before {
  content: "";
  background-color: var(--color-text-brand-inverse);
  width: var(--spacing-6);
  height: var(--spacing-6);
  position: absolute;
  top: var(--spacing-2);
  left: var(--spacing-2);
  mask-image: var(--icon-checkbox);
  mask-repeat: no-repeat;
}
.disabled {
  pointer-events: none;
  cursor: pointer;
  background-color: var(--color-gray-100);
}
