:host {
  display: flex;
}

.button {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: unset;
  min-height: var(--spacing-12);
  color: var(--color-text-base);
  padding: var(--spacing-2) var(--spacing-4);
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.button:hover {

  background-color: var(--color-background-brand-subtle-hovered);
}

.prefix-icon,
.suffix-icon {
  display: flex;
  align-items: center;
  height: var(--spacing-6);
  color: var(--color-neutral-700);

  svg,
  .icon {
    width: var(--spacing-6);
    height: var(--spacing-6);
  }
}

.prefix-icon {
  justify-content: flex-start;
  width: var(--spacing-14);
}

.suffix-icon {
  justify-content: flex-end;
  width: var(--spacing-8);

  .icon {
    background-color: currentColor;
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary {
  font: var(--type-body-base);
}

.secondary {
  font: var(--type-body-sm);
  color: var(--color-neutral-700);
}